@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: "Nanum Gothic", sans-serif;
}